<script>
    	jQuery(document).ready(function($){
	    
        $(".btnrating").on('click',(function(e) {
        
        var previous_value = $("#selected_rating").val();
        
        var selected_value = $(this).attr("data-attr");
        $("#selected_rating").val(selected_value);
        
        $(".selected-rating").empty();
        $(".selected-rating").html(selected_value);
        
        for (i = 1; i <= selected_value; ++i) {
        $("#rating-star-"+i).toggleClass('btn-warning');
        $("#rating-star-"+i).toggleClass('btn-default');
        }
        
        for (ix = 1; ix <= previous_value; ++ix) {
        $("#rating-star-"+ix).toggleClass('btn-warning');
        $("#rating-star-"+ix).toggleClass('btn-default');
        }
        
        }));     
    });


</script>

<div class="content-area">
    <div class="row">
        <div class="col-md-9 col-sm-9">
            <div class="col-md-5 col-sm-5">
                <div>
                    <img id="img-film-indexContent" src="<%= filmID.dataValues.film_Image %>" alt="Không load được ảnh" width="220px" height="360px">
                </div>
            </div>
            <div class="col-md-7 col-sm-7">
                <h3 style="text-align: center; font-weight: bold"><%= filmID.dataValues.film_Name %></h3>
                <div style="text-align: center">
                    <strong>4.9</strong><span>/10</span>
                    <div><strong>Lượt đánh giá: </strong> 56</div>
                    <button class="btn btn-default radius" type="submit" id="myBtn">Đánh giá</button>
                    <div id="myModal" class="modal">
                        
                        <!-- Modal content -->
                        <div class="modal-content">
                          <span class="close">&times;</span>
                          <p>Some text in the Modal..</p>
                          <div class="form-group" id="rating-ability-wrapper">
                                <label class="control-label" for="rating">
                                <span class="field-label-info"></span>
                                <input type="hidden" id="selected_rating" name="selected_rating" value="" required="required">
                                </label>
                                <h2 class="bold rating-header">
                                <span class="selected-rating">0</span><small>/10</small>
                                </h2>
                                <% for(var i = 1; i<= 10; i++) { %>
                                  <button type="button" class="btnrating btn btn-default btn-lg" data-attr="<%= i%>" id="rating-star-<%= i%>">
                                    <i class="fa fa-star" aria-hidden="true" id="star"></i>
                                </button>
                                  <% } %>
                            </div>
                        </div>
                      
                    </div>
                    <script>
                        //form Rating
                        // Get the modal
                        var modal = document.getElementById("myModal");

                        // Get the button that opens the modal
                        var btn = document.getElementById("myBtn");

                        // Get the <span> element that closes the modal
                        var span = document.getElementsByClassName("close")[0];

                        // When the user clicks the button, open the modal 
                        btn.onclick = function () {
                            modal.style.display = "block";
                        }

                        // When the user clicks on <span> (x), close the modal
                        span.onclick = function () {
                            modal.style.display = "none";
                        }

                        // When the user clicks anywhere outside of the modal, close it
                        window.onclick = function (event) {
                            if (event.target == modal) {
                                modal.style.display = "none";
                            }
                        }
                    </script>
                </div>

                <br/>
                <p><strong>Thời lượng: </strong><%= filmID.dataValues.film_Time %> phút</p>
                <p><strong>Ngày khởi chiếu: </strong><% var d = new Date(filmID.dataValues.film_DatePublic); %>
                    <%= d.getDate(); %>
                    /
                    <%= d.getMonth()+1; %>
                    /
                    <%= d.getFullYear(); %>
                </p>
                <br/>
                <br/>
                <p><strong>Nội dung: </strong><%= filmID.dataValues.film_Content %></p>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
            </div>

            
            <!--Chọn cụm rạp + rạp-->
            <% var day_now = new Date();%>
            <% if (filmID.dataValues.film_DatePublic < day_now) { %>
                <form action="" method="POST">
                    <div class="col-md-4 col-sm-4">
                        <div class="form-group">
                            <label for="form_control1">Chọn cụm rạp phim</label>
                            <select class="form-control" id="form_control1" name="cineplexID">
                                <% for (var i = -1; i < cinemaName.length; i++) { %>
                                    <% if (i == -1) { %>
                                        <option class="option" value="-1">Tất cả cụm rạp</option>
                                    <% } else { %>
                                        <option class="option" value="<%= cinemaName[i].dataValues.cineplex_ID %>"><%= cinemaName[i].dataValues.cineplex_Name %></option>
                                    <% } %>
                                <% } %>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <div class="form-group">
                            <label for="form_control2">Chọn rạp phim</label>
                            <select class="form-control" id="form_control2" name="cinemaID">
                                <% for (var i = -1; i < cinemaNumber.length; i++) { %>
                                    <% if (i == -1) { %>
                                        <option class="option" value="-1">Tất cả rạp</option>
                                    <% } else { %>
                                        <option class="option" value="<%= cinemaNumber[i].dataValues.cinema_ID %>"><%= cinemaNumber[i].dataValues.cinema_Name %></option>
                                    <% } %>
                                <% } %>
                            </select>
                        </div>
                    </div>
                    <br />
                    <br />
                    <a href="/phim/muave/<%= filmID.dataValues.film_ID %>">
                        <button class="btns" type="submit" onclick="chosen(this)">Mua vé</button>
                    </a>
                </form>
            <% } else { %>
                <h3 style="text-align: center; color: red; text-transform: uppercase; font-weight: bold"> Phim chưa được công chiếu, hiện tại không thể đặc vé!</h3>
            <% } %>
            <!--================================================================================
                                    Đoạn js xử lý chọn Cụm rạp và Rạp
            =================================================================================-->
            <script>
                function chosen(obj) {
                    if ($j('.option')) {
                        if ($j(obj).attr('value') == -1) {
                            alert('Vui lòng chọn Cụm rạp và rạp');
                            return;
                        }
                    }
                    console.log($j(obj).attr('value'));
                }
            </script>

            <br/>
            <br/>
            <br/>

            <% for (var i = 0; i < cinemaNumber.length; i++) { %>
                <div class="content-rap">
                    <% for (var j = 0; j< cinemaTimeShow.length; j++ ) { %>
                        <% if (filmID.dataValues.film_ID == cinemaTimeShow[j].dataValues.film_ID && cinemaNumber[i].dataValues.cinema_ID == cinemaTimeShow[j].dataValues.cinema_ID) { %>
                            <div class="content-rap-bg">
                                <h5 class="content-rap-bg-fix"><%= cinemaNumber[i].dataValues.cinema_Name %></h5>
                            </div>
                            <div class="content-rap-box">
                                <% for (var z = 0; z < timeShow.length; z++ ) {%>
                                    <% if (cinemaTimeShow[j].dataValues.timeShow_ID == timeShow[z].dataValues.timeShow_ID) { %>
                                        <a href="/phim/muave/<%= filmID.dataValues.film_ID %>" class="content-rap-box-btn">
                                            <div type="submit" ><%= timeShow[z].dataValues.timeShow_Start %></div>
                                        </a>
                                    <% } %>    
                                <% } %>
                            </div>
                        <% } else { %>
                           
                        <% } %>
                    <% } %>
                </div>
            <% } %>
        </div>

        


        <div style="text-align: right;" class="col-md-3 col-sm-3">
            <div class="title-movie">
                <h4 style="text-transform: uppercase">Phim đang chiếu</h4>
                <% for (var i=0; i< 4; i++) { %>
                    <a href="/film/<%= filmDangChieu2[i].dataValues.film_ID %>">
                        <div>
                            <img src="<%= filmDangChieu2[i].dataValues.film_Image %>" alt="Không load được ảnh" width="150px"
                                height="190px">
                        </div>
                        <div>
                            <p style="font-weight: bold; text-transform: uppercase; color: black"><%= filmDangChieu2[i].dataValues.film_Name %></p>
                        </div>
                    </a>
                <% } %>
            </div>
        </div>
    </div>





</div>