<!DOCTYPE html>
<html>
<head>

    <title>Việt Nam Cinema</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    <script src="/public/js/jquery/jquery-1.10.2.min.js"></script>
    <script src="/public/js/jquery/noconflict.js"></script>
    
    <link rel="stylesheet" type="text/css" href="/public/css/user/muave.css">
</head>

<body>
    <div >
        <div >
            <div style="padding-left: 10%; padding-right: 10%">
                <div class="col-main">
                    <div class="booking-progress">
                        <h1>Đặt vé trực tuyến</h1>
                    </div>
                    <div class="main-content">
                        <ul class="progress">
                            <li class="booking-step cycle-slide cycle-slide-active" style="position: absolute; top: 0px; left: 0px; z-index: 100; opacity: 1; display: block; visibility: visible;">
                                <label class="top-content">Phòng chiếu</label>    
                                <div class="ticketbox">
                                    <img src="/public/image/screen.JPG" >
                                    <div class="row">
                                        <% for (var i = 1; i <= 22 ; i++) { %>
                                            <div class="seat seat-standard active" onclick="selected(this)" loc="01<%= i%>01" zone="Thường" price="85000"> A<%= i %> </div>
                                        <% } %>
                                    </div>
                                    <div class="row">
                                        <% for (var i = 1; i <= 22 ; i++) { %>
                                            <div class="seat seat-standard active" onclick="selected(this)" loc="02<%= i%>02" zone="Thường" price="85000"> B<%= i %> </div>
                                        <% } %>
                                    </div>
                                    <div class="row">
                                        <% for (var i = 1; i <= 22 ; i++) { %>
                                        <div class="seat seat-standard active" onclick="selected(this)" loc="03<%= i%>03" zone="Thường" price="85000"> C<%= i %> </div>
                                        <% } %>
                                    </div>
                                    <div class="row">
                                        <% for (var i = 1; i <= 22 ; i++) { %>
                                        <div class="seat seat-standard active" onclick="selected(this)" loc="04<%= i%>04" zone="Thường" price="85000"> D<%= i %> </div>
                                        <% } %>
                                    </div>
                                    <div class="row">
                                        <% for (var i = 1; i <= 22 ; i++) { %>
                                        <div class="seat seat-vipprime active" onclick="selected(this)" loc="05<%= i%>05" zone="Vipprime" price="85000"> E<%= i %> </div>
                                        <% } %>
                                    </div>
                                    <div class="row">
                                        <% for (var i = 1; i <= 22 ; i++) { %>
                                        <div class="seat seat-vipprime active" onclick="selected(this)" loc="06<%= i%>06" zone="Vipprime" price="85000"> F<%= i %> </div>
                                        <% } %>
                                    </div>
                                    <div class="row">
                                        <% for (var i = 1; i <= 22 ; i++) { %>
                                        <div class="seat seat-vipprime active" onclick="selected(this)" loc="07<%= i%>07" zone="Vipprime" price="85000"> G<%= i %> </div>
                                        <% } %>
                                    </div>
                                    <div class="row">
                                        <% for (var i = 1; i <= 22 ; i++) { %>
                                            <div class="seat seat-vipprime active" onclick="selected(this)" loc="08<%= i%>08" zone="Vipprime" price="85000"> H<%= i %> </div>
                                        <% } %>
                                    </div>
                                </div>

<!--==============================================================================================
                                        Đoạn js xử lý chọn
   ============================================================================================-->

                                <script>
                                    /*var x;
                                    var box = {};
                                    var con = {};
                                    var fseats = {};
                                    var msg_family = '';
                                    var seq = 3216793;
                                    var site = '031';
                                    var dy = '20190513';
                                    var limit_cbo = 0;*/

                                    var boxprice = boxlimit = conprice = 0;

                                    function selected(obj) {
                                        if ($j('.seat').hasClass('checked')) {
                                            if ($j(obj).attr('zone') != $j('.seat.checked').attr('zone')) {
                                                alert('Vui lòng chọn tất cả ghế cùng loại');
                                                return;
                                            }
                                        }
                                        if (!$j(obj).hasClass('checked')) {
                                            if ($j(obj).attr('spec')) {
                                                if (boxlimit < 7) {
                                                    var data = $j('.ticketbox .seat.active');
                                                    $j(data).each(function () {
                                                        if ($j(obj).attr('spec') == $j(this).attr('spec')) {
                                                            $j(this).addClass('checked');
                                                            boxlimit += 1;
                                                        }

                                                    });
                                                } else {
                                                    alert('Bạn có thể chọn tối đa 8 ghế');
                                                }
                                            } else {

                                                if (boxlimit < 8) {
                                                    $j(obj).addClass('checked');
                                                    boxlimit += 1;
                                                } else {
                                                    alert('Bạn có thể chọn tối đa 8 ghế');
                                                }
                                            }
                                        } else {
                                            if ($j(obj).attr('spec')) {
                                                var data = $j('.ticketbox .seat.checked');
                                                $j(data).each(function () {
                                                    if ($j(obj).attr('spec') == $j(this).attr('spec')) {
                                                        $j(this).removeClass('checked');
                                                        boxlimit -= 1;
                                                    }
                                                });
                                            } else {
                                                $j(obj).removeClass('checked');
                                                boxlimit -= 1;
                                            }
                                        }
                                        box = {};
                                        boxprice = 0;
                                        fseats = {};
                                        ftickets = 0;
                                        var columns = $j('.ticketbox .seat.checked');
                                        $j(columns).each(function () {
                                            if (typeof box[$j(this).attr('zone')] == 'undefined') box[$j(this).attr('zone')] = {};

                                            box[$j(this).attr('zone')][$j(this).attr('loc')] = {
                                                label: $j(this).text().replace(/\s/g, ''),
                                                price: parseInt($j(this).attr('price'))
                                            };

                                        });
                                    };
                                    console.log($j(obj));
                                    //document.write((this).hasClass);

                                </script>                  





                                <div class="ticketbox-notice">
                                    <div class="iconlist">
                                        <div class="icon checked">Đã chọn</div>
                                        <div class="icon occupied">Đã được đặt</div>
                                        <div></div>
                                    </div>
                        
                                    <div class="iconlist">
                                        <div class="icon zone-standard" title="Standard"> Thường </div>
                                        <div class="icon zone-vipprime" title="VIP(Prime)"> VIP(Prime) </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <div class="bottom-content">
                        <div class="format-bg-top"></div>

                        <div class="minicart-wrapper">
                            <ul>
                                <li class="item first" xmlns="http://www.w3.org/1999/html">
                                    <div class="product-details">
                                        <table class="info-wrapper">                                       
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <img src="<%= filmChosen.dataValues.film_Image %>" alt="Không load được ảnh">
                                                    </td>
                                                    <td>
                                                        <table class="info-wrapper">
                                                            <tbody>
                                                                <tr>
                                                                    <td class="name_film"><%= filmChosen.dataValues.film_Name %></td>
                                                                </tr>
                                                                <!--<tr>
                                                                    <td class="label">Loại chưa get được 2D</td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="label">Mã này chưa hiểu C13</td>
                                                                </tr>-->
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </li>
                
                                <li class="item" xmlns="http://www.w3.org/1999/html">
                                    <div class="product-details">
                                        <table class="info-wrapper">
                                            <tbody>
                                                <tr>
                                                    <td class="label">Rạp chiếu phim</td>
                                                    <td get="<%= cinemaChosen.cineplex_ID %>"><%= cinemaChosen.cineplex_Name%></td>
                                                </tr>
                                                <tr>
                                                    <td class="label">Ngày chiếu</td>
                                                    <td>
                                                        <% var d = new Date(filmChosen.dataValues.film_DatePublic); %>
                                                        <%= d.getDate(); %>
                                                        /
                                                        <%= d.getMonth()+1; %>
                                                        /
                                                        <%= d.getFullYear(); %>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="label">Phòng chiếu</td>
                                                    <td>Thuộc tính chưa get được</td>
                                                </tr>
                                                <tr class="block-seats" style="display: none;">
                                                    <td class="label">Ghế</td>
                                                    <td class="data"></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </li>
                                                
                                <li class="item" xmlns="http://www.w3.org/1999/html">                                    
                                    <div class="product-details">
                                        <table class="info-wrapper">
                                            <thead>
                                                <tr class="block-box">
                                                    <td class="label">Phim</td>
                                                    <td class="price">0,00&nbsp;₫</td>
                                                    <td class="data">
                                                    <div class="truncated">
                                                        <div class="truncated_full_value"></div>
                                                        <a href="javascript: void(0);" onclick="return false;" class="details">I</a>
                                                    </div>
                                                    </td>
                                                </tr>
                                            </thead>
                
                                            <tbody>
                                                <tr class="block-con">
                                                    <td class="label">Combo</td>
                                                    <td class="price"><span class="price">0,00&nbsp;₫</span></td>
                                                    <td class="data">
                                                        <div class="truncated">
                                                            <div class="truncated_full_value"></div>
                                                            <a href="javascript: void(0);" onclick="return false;" class="details">I</a>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                
                                            <tfoot class="block-price">
                                                <tr>
                                                    <td class="label">Tổng</td>
                                                    <td class="price" colspan="2">0,00&nbsp;₫</td>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    
                        <div class="format-bg-bottom"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>